$linear-grad: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(183, 73, 189, 1) 50%, rgba(183, 73, 189, 1) 100%);

$main-font:'Nunito Sans',
sans-serif;
$second-font: 'Indie Flower',
cursive;

$bp-mobile: 37.5em // 600px