$linear-grad: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(183, 73, 189, 1) 50%, rgba(183, 73, 189, 1) 100%);

$main-font:'Nunito Sans',
sans-serif;
$second-font: 'Indie Flower',
cursive;

$grey-color-light-1: #dcdde1;
$grey-color-light-2: #edeef2;
$grey-color-dark-1: #cbccd0;
$grey-color-dark-2: #a9aab0;

$trs-time:.2s;

$bp-mobile: 50em; // 800px